<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <!-- Include Bootstrap CSS (adjust the path to your Bootstrap file) -->
    <link rel="stylesheet" href="path-to-bootstrap.css">
</head>
<body>
    <h1>Registration Successful</h1>
    <p>Thank you for registering your organization.</p>

    <!-- Button to Go to Home Page -->
    <!--<a href="{% url 'home' %}" class="btn btn-primary">Go to Home Page</a>-->
    <div class="container">
        
            <p><a href="{% url 'home' %}"><button>Go to Home🏠</button></a></p>
        </div>
</body>
</html>
