{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div style="text-align: right;">
            <p><a href="{% url 'logout' %}"><button>Logout</button></a></p>
        </div>
        <h1>Welcome to Our Organization {{request.user.first_name }}</h1>

        <!-- Map Container -->
        <div id="map" style="height: 500px; width: 100%; margin-top: 60px;"></div>

        <!DOCTYPE html>
<html>
<head>
  <title>Google Maps Example</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIXhpINJEZOHNbQmjWhQBR4yD_k2H3o1E"></script>
  <script>
    // Define your latitude and longitude coordinates
    var latitude =10.914723 ; // Example latitude
    var longitude = 76.975816; // Example longitude

    function initMap() {
      // Create a new map centered at the specified coordinates
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 10.914723, lng: 76.975816 },
        zoom: 15 // You can adjust the zoom level as needed
      });
      const locations = [
                    { lat: 10.925345, lng: 76.987654, name: 'Location 2' },
                    { lat: 10.935678, lng: 76.998765, name: 'Location 3' },
                    { lat: 10.945432, lng: 76.987654, name: 'Location 4' },
                    { lat: 10.955678, lng: 76.998765, name: 'Location 5' },
                    // Add more locations as needed
                ];
      // Create a marker for the specified coordinates
      var marker = new google.maps.Marker({
        position: { lat: latitude, lng: longitude },
        map: map,
        title: 'Dhanush Agency'
      });
    }
  </script>
</head>
<body>
  <div id="map" style="height: 400px; width: 100%;"></div>

  <script>
    // Initialize the map when the page loads
    initMap();
  </script>
</body>
</html>

        
        <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIXhpINJEZOHNbQmjWhQBR4yD_k2H3o1E&callback=initMap"></script>
    </div>
{% endblock %}